@import "basic.styl"

.about-header
  background url('../image/about-bg.png')
  width 100%
  background-size cover
  height 670px
  .cont
    text-align center
    color #ffffff
    font-size 0
    p:nth-child(1)
      width 540px
      border-bottom 1px solid #ffffff
      font-size 50px
      text-align center
      height 110px
      line-height 110px
      display inline-block
      margin-top 75px
    p:nth-child(2)
      font-size 18px
      line-height 30px
      margin-top 35px

.y-about-con 
  padding 0 100px
  .y-con-title
    padding-top 40px
  .y-about-info
    margin-top 40px
    margin-bottom 58px
    img
      width 499px
      display  inline-block
      vertical-align middle
      margin-right 40px
    p 
      display inline-block
      width 455px
      vertical-align middle
      color #38408b
      line-height 28px
  .y-about-dir
    margin-top 40px
    margin-bottom 40px
    font-size 0
    .about-item
      width 294px
      display inline-block
      margin-right 59px
      vertical-align top
      p 
        margin-top 20px
        font-size 14px
        line-height 26px
        text-align center
      &:last-child
        margin-right 0
