
@import 'basic.styl'
.y-header-com
  background linear-gradient(-45deg,#38418a,#283070)
.y-cont
  width 1200px
  margin 0 calc(50% - 600px )
  height 860px
  >.y-header
      padding-top 38px
      font-size 0
      width 1200px
      img
        display inline-block
        vertical-align middle
      .img1
        width 58px
        height 58px
        margin-right 22px
      ul
        list-style none
        margin 0
        padding 0
        float right
        font-size 0
        li
          display inline-block
          padding-left 40px
          font-size 14px
          height 58px
          line-height 58px
          a
            color #ffffff
            &.active
              color #e75a46
  >.y-banner
    position relative
    height 704px
    >.ban-info
      color #ffffff
      text-align right
      padding-top 198px
      padding-right 90px
      p
        &:nth-child(1)
          font-size 30px
          line-height 30px
        &:nth-child(3)
          font-size 20px
          line-height 20px
      h2 
        font-size 40px
        line-height 40px
        margin 0
        padding 0
        padding-top 15px
        padding-bottom 15px
        font-weight normal
      a
        font-size 30px
        color #ffffff
        height 60px
        width 200px
        text-align center
        display inline-block
        line-height 60px
        border 1px solid #ffffff
        border-radius 4px
        margin-top 50px
    .y-point
      position absolute
      bottom 20px
      text-align center
      font-size 0
      width 100%
      a
        height 10px
        width 10px
        border-radius 5px
        background #e75a46
        transition 0.6s all ease
        display inline-block
        margin-right 10px
        &.active
          width 70px
.y-content
  width 1200px
  margin 0 calc(50% - 600px)
  margin-top -60px
  background #ffffff
  box-shadow:0 0 2px #fefefe
  position relative
  z-index 111
  >.y-con-title
    padding-top 40px
.y-con-title
  position relative
  text-align center
  height 78px
  >h2
    color #38408b
    font-size 40px
    font-weight normal
    height 80px
    line-height 80px
    margin 0
    padding 0
  span
    width 154px
    position absolute
    bottom 0
    margin-left -77px
    height 1px 
    background #38408b

div.mititle
  font-size: 16px
  color #38408b
  position relative
  width 100%
  text-align center
  margin-top 78px
  >p
    font-weight bold
  >span 
    width 20px
    height 1px
    display inline-block
    background #38408b
    margin-top 13px


.y-main
  margin-top 45px
  >.y-main-list
    padding 0 100px
    font-size 0
    >.y-imlist
        width 135px
        display inline-block
        margin-right 80px
        vertical-align top
        text-align center
        img
          width 97px
          height 116px
        &:last-child
          margin-right 0
        p.info
          font-size 12px
          color #999999
          line-height 22px
          text-align center
  .y-clicp
    text-align center
    margin-top 35px
    font-size 0
    margin-bottom 62px
    p
      width 154px
      height 1px 
      background #38408b
      display inline-block
  .y-main-type
    text-align center
    font-size 0
    .y-type
      width 618px
      height 286px
      border 1px solid #38408b
      text-align center
      box-sizing border-box
      position relative
      display inline-block
      margin-bottom 130px
      img
        margin-top 55px
      p
        color #38408b
        position absolute
        width 448px
        background #ffffff
        margin-left 62px
        padding 0 24px
        &:nth-of-type(1)
          font-size 22px
          top -11px
          line-height 22px
        &:nth-of-type(2)
          font-size 14px
          bottom -48px
          line-height 24px
  .y-main-fun
    padding 0 50px
    font-size 0
    .y-fun-list
      margin-top 40px
      .y-fun
        margin-right 70px
        width 320px
        display inline-block
        vertical-align top
        p 
          font-size 16px
        &:last-child
          margin-right 0
        >.info
          font-size 12px
          color #999999
          line-height 22px
          text-align center
          padding 0 50px
          margin-top 10px
  .y-industry
    margin-top 70px
    >.y-industry-list
      padding 0 40px
      font-size 0
      margin-top 40px
      >.y-list-c
        width 246px
        display inline-block
        vertical-align top
        margin-right 45px
        margin-bottom 55px
        text-align center
        >.img
          height 120px
          display table-cell
          width 246px
          vertical-align middle
          text-align center
        &:nth-child(4n)
          margin-right 0
        >p.info
          font-size 12px
          color #999999
          text-align center
          line-height 22px
          padding 0 12px
          margin-top 5px
  .y-customer
    margin-top 28px
    >.y-cus-list
      margin-top 40px
      padding 0 70px
      ul
        list-style none
        margin 0
        padding 0
        font-size 0
        li
          text-align center
          height 104px
          width 350px
          display inline-block
          margin-bottom 70px
          span
              display inline-block
              vertical-align middle
              text-align center
            img
              vertical-align middle
          &:nth-child(2)
            text-align left
.y-footer
  width 100%
  background url(../image/bg-footer.png)  no-repeat center
  height 678px
  .footer-info
    width 1050px
    margin 0 auto
    font-size 0
    >p
      color #999999
      text-align center
      font-size 16px
      a
        color #d52323
      &:first-child
        font-size 30px
        line-height 30px
        padding-top 55px
        padding-bottom 35px
      &:nth-child(2)
        padding-bottom 65px
    .form-info
      text-align right
      .left
        display inline-block
        vertical-align top
        width 386px
        margin-right 71px
        .li
          margin-bottom 37px
          &:last-child
            margin-bottom 0
          label
            input
              height 45px
              line-height 45px
              width 386px
              padding-left 20px
              box-sizing border-box
              background #5a5a5a
              outline none
              border 0
              border-radius 4px
              color #939393
      .right
        display inline-block
        vertical-align top
        textarea
          width 576px
          height 210px
          background #5a5a5a
          border 0
          outline none
          border-radius 4px
          resize none
          box-sizing border-box
          padding 10px
          color #939393
      button
        width 140px
        height 45px
        outline none
        appearance none
        border none
        background #e75a46
        color #ffffff
        cursor pointer
        margin-top 20px
        border-radius 4px
        font-size 16px
  .footer-tact
    font-size 0
    margin-top 48px
    .tact-list
      display inline-block
      .icon
        width 33px
        height 33px
        border-radius 50%
        background url(../image/tel.png) no-repeat center
        background-color #141414
        display inline-block
        vertical-align middle
      &:nth-child(1)
        width 420px 
      &:nth-child(2)
        width 300px
        .icon
          background  url(../image/fax.png) no-repeat center
          background-color #141414
      &:nth-child(3)
        .icon
          background  url(../image/addrress.png) no-repeat center
          background-color #141414
      .ontel
        display inline-block
        vertical-align middle
        margin-left 20px
        color #999999
        span
          font-size 14px
          color #999999
        p
          margin 0
          padding 0
          font-size 18px
  .footer-copyright
    font-size 14px !important
    color #686868
    margin 0
    padding 0
    text-align center
    margin-top 55px

        

